@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700')
*{
	margin: 0;
	padding: 0;

}
body{
	background: #3333;
	font-family: 'Poppins', sans-serif;
	align-items: center;
	justify-content: center;
		
	




}
.mag{
	width: 1500px;
	
	
	


}
.box{
      border:2px solid #000000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
      width: 80%;
      
    }

 
